h1{
   font-size: 50px;
}
h2{
   font-size: 30px;
}
.color{
color:orange;
}

section{
   display: flex;
}
.half-width{
   width:50%;
   padding-left: 5%;
}
.half-width img{
   padding-top: 10%;
}
.link-button{
   text-decoration: none;
  background-image: linear-gradient(red ,tomato);
  color: white;
   font-size: larger;
   border-radius: 5px;
   padding: 8px 20px;
}
body{
   margin: 0%;
}